@charset "UTF-8";

/* 回答はここに書いてね */
.q1 {
  width: 900px;
  padding: 20px;
  background: #eff3f4;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
}

.boxs {
  width: 230px;
  background: #3274ae;
  float: left;
  margin-left: 20px;
  margin-top: 0;
  padding: 20px;
}

.boxs:first-child {
  margin-left: 0;
}

.subbox {
  box-sizing: border-box;
  width: 230px;
  background: #eaf4ff;
  padding: 20px;
  border: solid 10px #022336;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* 回答はここに書いてね */
