@charset "UTF-8";

/* 回答はここに書いてね */
.q10_main {
  position: relative;
  padding: 20px;
  width: 500px;
  font-size: 16px;
  background: #FFF;
  border: solid 5px #222;
  border-radius: 30px;
  margin: 0 auto;
  line-height: 16px;
}

.q10_main::before, .q10_main::after {
  border: 20px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  content: '';
}

.q10_main::before {
  bottom: -45px;
  left: 30px;
  border-top: 20px solid #222;
}

.q10_main::after {
  border-top: 20px solid #fff;
  bottom: -38px;
  left: 30px;
}












/* 回答はここに書いてね */
