@charset "UTF-8";

/* 回答はここに書いてね */
.q4_table {
  padding: 20px;
}

.main {
  display: table;
  width: 100%;
}

.main:last-child {
  margin-top: 20px;
}

.sub {
  display: table-cell;
  text-align: center;
  padding: 20px;
}

/* TOP */
.blue { /*固定*/
  width: 100px;
  background: #b6d8ed;
}

.purple {
  background: #e0abd9;
}

.orange { /*固定*/
  background: #fdc8b8;
  width: 100px;
}
/* TOP */


/* BOTTOM */
.yellow {
  background: #e5d32e;
}

.red {
  background: #ec8f9a;
}

.green { /*固定*/
  background: #8fdcad;
  width: 500px;
}
/* BOTTOM */

/* 回答はここに書いてね */
