@charset "UTF-8";

/* 回答はここに書いてね */

/* TRANSITION */
.q9_transform {
  overflow: hidden;
  width: 500px;
  height: 333px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.car {
  transition: all 0.5s;
}

.q9_transform:hover .car {
  transform: scale(1.5);
  transition: all 0.5s;
}

.q9_text {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
}

.q9_transform:hover .q9_text {
  bottom: 0;
  transition: all 0.5s;
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  word-break: break-all;
  padding: 20px;
  box-sizing: border-box;
}
/* TRANSITION */



/* ANIMATION */
.animation {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid #ecf1f2;
  border-top: 10px solid #00bcd4;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ANIMATION */





/* 回答はここに書いてね */
