@charset "UTF-8";

/* 回答はここに書いてね */
.q5_position {
  width: 500px;
  background: #ECF1F2;
  height: 500px;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
}

.sub_box {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
}

.a1 {
  background: #ffefd3;
  left: 200px;
  top: 40px;
  z-index: 1;
}
.a2 {
  background: #7084de;
  right: 120px;
  top: 120px;
  z-index: 2;
}
.a3 {
  background: #d0ecea;
  right: 40px;
  bottom: 200px;
  z-index: 3;
}
.a4 {
  background: #8b7a5e;
  right: 120px;
  bottom: 120px;
  z-index: 4;
}
.a5 {
  background: #9fd6d2;
  left: 200px;
  bottom: 40px;
  z-index: 5;
}
.a6 {
  background: #fffee4;
  left: 120px;
  bottom: 120px;
  z-index: 6;
}
.a7 {
  background: #deae70;
  left: 40px;
  top: 200px;
  z-index: 7;
}
.a8{
  background: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.a8::after {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffefd3;
  top: 0;
  right: 0;
  content: '';
}

.a9 {
  background: #2b69a3;
  top: 0;
  left: 0;
  position: fixed;
  margin: 10px;
  z-index: 9;
}

/* 回答はここに書いてね */
