@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.q3_table th, td {
  border: solid #dedede 1px;
  padding: 10px 0;
}


.q3_table th {
  font-size: 18px;
  line-height: 26px;
  background: #2244aa;
  color: #fff;
}

.q3_table td {
  font-size: 16px;
  line-height: 22px;
}

.q3_table > tbody > tr:nth-child(even){
  background: #ecf1f2;
}

.q3_table > tbody > tr:last-child {
  border-top: dashed #000 2px;
}














/* 回答はここに書いてね */
